{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" class="navbar bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" alt="" width="40px" height="40px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="offcanvas" data-bs-target="#catoffcanv" aria-controls="offcanvasWithBothOptions">Juegos</a>
              </li>
              <li class="nav-item">
                <button type="button" class="nav-link active" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Donde estamos
                </button>
              <!-- Modal -->
              <div class="modal fade" style="color: white;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl"> <!-- Añadida la clase modal-xl para aumentar el tamaño -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Donde estamos</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div style="display: flex; justify-content: center; align-items: center; margin-top: 2%;">
                                <div style="flex: 1; margin-right: 10px; padding-right: 20px; box-shadow: 5px 0px 5px -2px rgba(0,0,0,0.1);">
                                    <img src="/media/img_prod/Lacasadelplay.webp" alt="Imagen de Lacasadelplay" style="width: 100%; height: 550px; object-fit: cover; margin-left: 55px;">
                                </div>
                            
                                <div style="flex: 2; margin-left: 10px; padding-left: 20px; box-shadow: -5px 0px 5px -2px rgba(0,0,0,0.1); margin-right: 55px;">
                                    <iframe
                                        width="100%"
                                        height="550"
                                        style="border:0;"
                                        loading="lazy"
                                        allowfullscreen
                                        referrerpolicy="no-referrer-when-downgrade"
                                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCOBPauUcWDP-szXgjZW0LoGyLqOpwwSdA&q=Papulandia 🥵">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
              
              </li>
              <li class="nav-link disable"><h5 id="hora">Hora: </h5></li>
            </ul>
            <div id="searchbar" class="col-md-4 mx-auto">
              <form class="d-flex" role="search">
                <input class="form-control me-2" id="searchInput" type="search" placeholder="Buscar" aria-label="Search" data-bs-target="#resultadosCollapse" data-bs-toggle="collapse"  aria-expanded="false" aria-controls="resultadosCollapse">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
            </div>
            <li style="list-style: none;" class="nav-item dropdown">
              {% if user.is_authenticated %}
                  {% if user.is_staff%}
                    <button type="button" class="btn btn-outline-primary mx-auto dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Admin
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item justify-content-center" href="/listaproductos">Lista de juegos</a></li>
                      <li><a class="dropdown-item" href="/jagregar">Agregar un juego</a></li>
                      <li><a class="dropdown-item" href="/userlist">Lista de usuarios</a></li>
                      <li><a class="dropdown-item" href="/admplataforma">Lista de plataformas</a></li>
                      <li><a class="dropdown-item text-center" href="/logout" style="color: rgb(156, 10, 10);">Cerrar Sesion</a></li>
                    </ul>
                  {% else %}
                    <button type="button" class="btn btn-outline-primary me-1 mx-auto dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Usuario
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item text-center" href="/cargarcuenta">Mi Cuenta</a></li>
                      <li><a class="dropdown-item text-center" href="/logout" style="color: rgb(156, 10, 10);">Cerrar Sesion</a></li>
                    </ul>
                  {% endif %}
              {% else %}
                  <a href="/login"><button class="btn btn-outline-primary mx-auto" type="button">Ingresar</button></a>
              {% endif %}</li>
            <li class="nav-item" ><button id="btncaco" type="button" class="btn position-center" data-bs-toggle="offcanvas" data-bs-target="#caroffcanv" aria-controls="offcanvasRightWithBothOptions"> <img src="{% static 'img/car.png' %}" alt="" width="30px" height="30px">
                <span id="carrospan" class="position-center translate-middle badge rounded-pill bg-danger">
                0
                <span class="visually-hidden">Productos en el carro</span>
                </span>
                </button>
            </li>
            </div>
        </div>
      </nav>
      <div class="collapse" id="resultadosCollapse" tabindex="-1">
        <div class="card mx-auto d-flex align-items-center" style="width: 250px; height:auto;"></div>
      </div>
</header>
<body onload="actualizaReloj()">
  <img id="bgnlgn" src="{% static 'img/background.jpg' %}" alt="">
    <div id="leftcanv">
      <div class="offcanvas offcanvas-start" class="navbar" data-bs-scroll="true" tabindex="-1" id="catoffcanv" aria-labelledby="offcanvasWBOL">
        <div class="offcanvas-header" style="border: solid rgba(34, 34, 34, 0.637); background-color: rgb(44, 44, 44); color: white">
            <h5 class="offcanvas-title" id="offcanvasWBOL">Plataformas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="background-color: rgba(255, 250, 247, 0.945);">
          <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              {% for g in Gen %}
              <a href="/plataforma/{{g.c_id}}">
              <li class="list-group-item">
                <div class="row justify-content-center">
                    <div class="align-items-center">
                      <tr>
                        <td>{{g.c_plataforma}}</td>
                      </tr>
                    </div>
                </div>
              </li>
              </a>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="rightcanv">
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="caroffcanv" aria-labelledby="offcanvasRightWBOL">
            <div class="offcanvas-header" style="border: solid rgba(34, 34, 34, 0.637); background-color: rgb(44, 44, 44); color: white">
                <h5 class="offcanvas-title" id="offcanvasRightWBOL">Carro de Compra</h5>
            </div>
            <div id="carcanvbody" class="offcanvas-body" style="background-color: rgba(255, 250, 247, 0.945);">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody id="carrito-producto">
                  <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="container" style="padding: 1%;"> Total: $<span id="carrito-precio"></span></div>
            <div id="ccbtnc" class="container" style="border: solid rgba(92, 92, 92, 0.178);">
                <button class="btn btn-light btn-outline-dark" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="margin-right: 1%;">Seguir Comprando</button>
                <a href="/ccart" id="btncompra"><button class="btn btn-outline-success" type="button">Comprar</button></a>
            </div>
        </div>
    </div>

    {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div id="successToast" class="toast d-flex align-items-center text-white bg-success position-fixed top-50 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 9999">
                {% elif message.tags == 'error' %}
                    <div id="errorToast" class="toast d-flex align-items-center text-white bg-danger position-fixed top-50 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 9999">
                {% endif %}
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
          {% endif %}

      <div id="successbuyToast" class="toast d-none d-flex align-items-center text-white bg-success position-fixed top-50 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 9999">
          <div class="toast-body">
              Compra Realizada Con Exito
          </div>
      </div>
    
    {% block body %} 
    
    {% endblock %}


    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/carro.js' %}"></script>
    <script src="{% static 'js/forms.js' %}"></script>

    {% block script %} {% endblock %}
</body>

</html>