{% extends './base.html' %}
{% load static %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
{% endblock %}

{% block title %} Datos Juego {% endblock %}

{% block body %} 
    <img id="bgnlgn" src="{% static 'img/background.jpg' %}" alt="">
    <div class="container" style="padding-bottom: 3%;">
            <div id="contlgn" class="container">
                <div class="row row-col-7" style="background: rgba(51,51,51,0.7); padding: 5%; margin-top: 5%; margin-left: 20%; margin-right: 20%;">
                    <form id="editarform" action="/jeditar" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="col-md-12">
                            <label for="SKU" class="form-label" style="color: white;">SKU:</label>
                            <input readonly value="{{Prod.p_id}}" name="SKU" type="text" id="SKU" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label for="titulo" class="form-label" style="color: white;">Titulo:</label>
                            <input value="{{Prod.p_titulo}}" name="titulo" type="text" id="titulo" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="precio" class="form-label" style="color: white;">Precio:</label>
                            <input value="{{Prod.p_precio}}" name="precio" type="number" id="precio" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="stock" class="form-label" style="color: white;">Stock:</label>
                            <input value="{{Prod.p_stock}}" name="stock" type="number" id="stock" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label for="genero" class="form-label" style="color: white;">Plataforma:</label>
                            <select name="genero" id="genero" class="form-select" aria-label="Default select example">
                                <option selected disabled value="null">Seleccione</option>
                                {% for g in Gen %}
                                    <option {% if Gen_id == g.c_id %} selected {% endif %} value="{{g.c_id}}">{{g.c_plataforma}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="colunm g-3 align-items-center mt-1">
                            <label for="desarrollador" class="form-label" style="color: white;">Desarrollador</label>
                            <input value="{{Prod.p_des}}" name="desarrollador" type="text" id="desarrollador" class="form-control">
                        </div>
                        <div class="colunm g-3 align-items-center mt-1">
                            <label for="descripcion" class="form-label" style="color: white;">Descripción</label>
                            <textarea name="descripcion" type="text" id="descripcion" class="form-control" style="height: 130px;" >{{Prod.p_desc}}</textarea>
                        </div>
                        <div class="colunm g-3 align-items-center mt-1">
                            <label for="imagen" class="form-label" style="color: white;">Imagen</label>
                            <img src="{{Prod.p_img.url}}" height="70px" alt="No se pudo cargar la imagen">
                            <input name="imagen" class="form-control" type="file" id="imagen">
                        </div>
                        <div class="d-flex justify-content-center mt-5">
                            <button class="btn btn-success me-2" type="submit">Editar</button>
                        </div>
                    </form>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="/listaproductos"><button class="btn btn-danger" >Cancelar</button></a>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}

{% block script %} {% endblock %}