{% extends './base.html' %}
{% load static %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
{% endblock %}

{% block title %} {{Plat.c_plataforma}} {% endblock %}


{% block body %} 
<img id="bgnlgn" src="{% static 'img/background.jpg' %}" alt="">
<div class="row">
    <div class="col-1"><br></div>
    <div class="col-10">
        <div id="indexcarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#indexcarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#indexcarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#indexcarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/banner playstation.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/banner nintendo.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/banner xbox.webp' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#indexcarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#indexcarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-1"></div>
</div>


<div id="indexcardcont" class="container" style="width: 100%;">
    <div class="d-flex justify-content-center row">
        {% for j in Prod %}
            <a href="/producto/{{j.p_id}}">
                <div class="card cardindex">
                    <img src="{{j.p_img.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text" style="text-align: center;">{{j.p_titulo}}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>




{% endblock %}

{% block script %} {% endblock %}